@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=SUSE:wght@100..800&family=Shadows+Into+Light&display=swap');
*{padding: 0;
margin: 0;}
/* header outer */
.header-wrapper{
    width: 100%;
    height: 100px;
    border:1px solid red;
display: flex;
justify-content: center;

border-top: 0cm;
border-left: 0cm;
border-right: 0cm;
border-color: gray;
margin-bottom: 15px;
border-width: 3px;
}

.header-inner{
    width: 70%;
    border:1px solid red;
    height: 100%;
display: flex;
border-bottom: 2px;

}
.logo-wrapper{
    width: 300px;
    height: 100%;
    border:1px solid red;
    display: flex;
align-items: center;
}
.nav-wrapper{
    /* width: 100%;
    height: 100%; */
    flex:1;
    border:1px solid red;
    display:flex;
    justify-content:flex-end; 
    align-items: center;}
/* header outer */
.nav-wrapper >ul{
    list-style: none;
    display:flex;
    

}
.nav-wrapper >ul>li{
    margin-right: 20px;
    font-family: "SUSE", sans-serif;
    font-size: 20;
    font-weight: 600;
    font-style: normal;


}
.nav-wrapper >ul>li:last-child{
    margin-right: 0px;
}
.nav-wrapper >ul>li:hover{
    cursor:pointer ;
    color: blue;
}
.slider-container{
height: 800px;
    border:1px solid red;
    display: flex;
    border-bottom:4px dotted #eee ;
    width: 100%;
    
}

.left-slider{
display: flex;
align-items: center;
border:1px solid red;
background-image: url("https://img.freepik.com/free-photo/women-posing-selfie-with-paper-bags_23-2147689087.jpg?ga=GA1.1.1922951663.1688533816&semt=ais_hybrid");
background-repeat: no-repeat;
background-size: cover;
position: relative;
width: 50%;
height: 100%;

}  
.right-slider{
    display: flex;
    width: 50%;
    height: 100%;
    border:1px solid red;
    align-items: center;
    height: 800px ;
}
.left-slider-content-wrapper{
    border:1px solid red;
    padding: 20px;
    position: relative;
    z-index: 2;
}
.left-slider-content-wrapper>h1{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
}
.left-slider-content-wrapper>h4{
    font-family: "Shadows Into Light", cursive;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 20px;
}
.shadow{
    height: 100%;
    width: 100%;
    background-color:RGBA( 65, 105, 225, 0.13 ) ;
    position: absolute;
}
.left-slider-content-wrapper>button{
    margin-top: 20px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border-color: black;
    border-width: 2px;
    font-weight: 500;
}
.left-slider-content-wrapper>button:hover{
    background-color:white;  
    cursor: pointer;
    color: black; 
}



.right-slider-content-wrapper-left{
   
    display: flex;
    border:1px solid red;

    flex-direction: column;
 width: 50%;
  height: 100%;
}
.right-slider-content-wrapper-right{
    display: flex; 
    flex:1;  
    border:1px solid red;
    flex-direction: column;
   width: 50%;
  height: 100%;
}
.right-slider-content-wrapper-left-up{
   
    border:1px solid red;
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;

   background-image: url("assets/womenshoping2.avif");
background-repeat: no-repeat;
background-size: cover;
   flex: 1;


}
.img-text-up{
    position: absolute;
    display: flex;
    flex-direction: column;
align-items: center;
    /* top: 50%;
    left: 50%;
    right:50%; */
    z-index: 3;  
}
.img-text-up>h2{
     font-size: 40px;
     color: white;
    margin-bottom: 10px;
}
.img-text-up>h4{
    font-size: 20px;
    color: white;
   
   
}
.right-slider-content-wrapper-left-down{
    flex: 1;
    border:1px solid red;
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
   
    background-image: url("assets/kidimage.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.right-slider-content-wrapper-right-up{
    flex: 1;
    border:1px solid red;
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-image: url("assets/menshoping.avif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.right-slider-content-wrapper-right-down{
    flex: 1;
    border:1px solid red;
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-image: url("assets/accesseries.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.hover-cover{

    visibility: hidden;
    position: absolute;
    background-color:rgba(128, 128, 128, 0.8) ;
    width: 90%;
    height: 90%;
    z-index: 10;

    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.hover-cover>h1{
    font-size: 40px;
    color: white;
margin-bottom: 5px;
}
.hover-cover>h3{
    font-size: 16px;
    color: white;
text-align: center;
padding-inline: 4px;
font-weight: 400;
margin-bottom: 20px;
}
.hover-cover>button{
    border: 1px solid white;
    background-color: transparent;
    font-size: medium;
   color:  solid white;
   padding: 5px;
   color: white;
}
.right-slider-content-wrapper-left-up:hover .hover-cover,
.right-slider-content-wrapper-left-down:hover .hover-cover,
.right-slider-content-wrapper-right-up:hover .hover-cover,
.right-slider-content-wrapper-right-down:hover .hover-cover {
    visibility: visible;
}

.right-slider-content-wrapper-left-up:hover .img-text-up,
.right-slider-content-wrapper-left-down:hover .img-text-up,
.right-slider-content-wrapper-right-up:hover .img-text-up,
.right-slider-content-wrapper-right-down:hover .img-text-up {
    visibility: hidden;
}

.collection-section{
    padding-top: 90px;
    padding-bottom: 90px;
    height: 500px;
    border:1px solid blue;
}
.men-section-heading{
height: auto;
border:1px solid red;

}
.men-section-heading>h1{
    border:1px solid red;  
    font-size: 50px;
}
.men-section-heading>h4{
    border:1px solid red;
    font-style: italic;
    color: gray;
    font-size: 18px;
    font-weight: 300;
}
.img-men{
    height: 300px;
    width: 300px;
}
.men-image-text>img{
    height: 20px;
    width: 20px;
}
.men-image-text{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 5px;

}
.men-image{
    border:3px solid black; 
    width: 100%;
   
}
.men-section-heading{
    margin-bottom: 50px;
}
.men-image>h1{
font-size: 16px;  
color: gray;  
}
.men-image{
    font-size: 16px;    
}
.collection{
    display: flex;
}
/*Footer */
footer{
    width: 100%;
    height: auto;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    margin-top: 20px;
}
.footer-inner{
    width: 75%;
    height: auto;
    display: flex;
}
.footer-slot{
    flex: 1;
}
.footer-slot h3{
    color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
.footer-slot ul{
    list-style: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
.footer-slot ul li{
    margin-bottom: 8px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: white;
}
/*Footer */